div{
    
}

h1{
    text-align: center;
}

.header{
    position: relative;
    height: 200px;
    width: auto;
    background: black;
}

img{
   margin-left: 30%;

}

#catEyesLeft{

    margin-left: 25%;
    padding-left: 15px;
}

 #catEyesRight{
    position: absolute;
    margin-right: 10%;

}

