
main{
    color: white;

}

header{
    color: rgb(42, 161, 161);
}

.mdl-layout__header{
    background-color:rgb(6, 124, 179);
}

.mdl-layout__header-row{
    background: rgb(6, 124, 179);

}

/* main stuff **/
.mdl-layout__content{
    background: rgb(238, 236, 236);
}
.mdl-grid{
    background:rgb(151, 124, 124);   
}
