
main{
    color: black;
    text-align: center;

}

header{
    color: rgb(42, 161, 161);
}



.mdl-layout__header{
    background: rgba(248, 122, 5, 0.877);
}

.mdl-layout__header-row{
    background: rgba(248, 122, 5, 0.877);

}

#top{
    background: url('../bmcc.jpg') center / cover;
    height: 550px;
    color: rgba(255, 212, 19, 0.980);
}
.steps{
    text-align: left;
    margin-left: 90px;
}

.mdl-button--fab {
    background: rgba(248, 122, 5, 0.877);
    color: white;
}

.page-content{
    background: rgba(248, 94, 5, 0.555);
}

/*right menu*/
a {
    color: rgb(211, 51, 30);
    font-weight: 500;
    text-decoration:beige;
}

/* Square card */

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  
}

/* button card */
.mdl-button.mdl-button--colored{
    background: rgba(248, 122, 5, 0.877);
}

    /*3 main options */
  .mdl-button.mdl-button--colored {
    color: rgb(241, 241, 241);
}

.mdl-mini-footer{
    padding: 15px 16px;
   background:  rgba(248, 122, 5, 0.877);
}
 